<div class="parent">
  <div class="container">
  <h2>Register</h2>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" />
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <p class="message">Already registered? <a href="/login">Go to Login</a></p>
  </form>
</div>
</div>
